.carousel {
    padding: 81px 0;
    &__inner {
        width: 76%;
        margin: 0 auto;
        img {width: 100%;}
    }
    .prev, .next {
        position: absolute;
        border: none;
        background-color: transparent;        
        img {width: 50px;}        
    }
    .prev {
        left: 0px;
        left: -66px;
        top: 50%;
        transform: translateY(-50%);
    }
    .next {
        right: 100%;
        right: -66px;
        bottom: 50%;
        transform: translateY(50%);
    }
    .tns-nav {
        display: flex;
        justify-content: center;
        button {
            margin: 0 5px;
            width: 40px;
            height: 5px;
            border-radius: 10px;
            border: $main-color;
            background-color: $main-color;
            &.tns-nav-active {
                border: $main-dark;
                background-color: $main-dark;
            }
        }
    }
}

@media (max-width: 992px) {
    .prev, .next {
        display: none;
    }
}