.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 100px;
    background: #F2F2F2;
    padding: 40px;
    &__close {
        position: absolute;
        top: 0;
        right: -39px;
        color: $main-color;
        font-size: 37px;
        line-height: 17px;
        cursor: pointer;
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: $main-dark;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        color: $main-dark;
        margin-bottom: 25px;
    }
    &_mini {
        padding: 35px 40px;
        .modal__subtitle{
            margin-bottom: 0;
        }        
    }
    label.error {
        text-align: center;
        margin-bottom: 15px;
    }
    input.error {
        border: 1px solid $main-color;
    }
}

#consultation, #order, #thanks {
    display: none;
}

@media (max-width: 576px) {
    .modal {
        &__close {
            top: 12px;
            right: 12px;
        }
    }
}