@media (max-width: 992px) {
	.button {
		&_header {
		width: 150px;
    	height: 30px;
		}
	}	
}

@media (max-width: 768) {
	.button {
		&_header {
			width: 140px;
			height: 28px;
		}
	}
}

@media (max-width: 576px) {
	.button {
		&_main {
			width: 90%;
			margin-top: 90px;
		}
	}
}